<ons-page>
  <ons-row>
    <ons-col class="left-col">
      <ons-list class="left-col-list">
        <ons-list-header>Categories</ons-list-header>
        <ons-list-item 
          tappable 
          *ngFor="let category of categories" 
          (click)="handleCategory(category.type)">{{category.name}}
        </ons-list-item>
      </ons-list>
    </ons-col>
    <ons-col class="mid-col">
      <ons-list class="mid-col-list" *ngIf="selectedLocations && selectedLocations.length > 0">
        <ons-list-header>Locations</ons-list-header>
        <ons-list-item 
          tappable 
          *ngFor="let selectedLocation of selectedLocations"
          (click)="handleLocationSelection(selectedLocation)">{{selectedLocation.name}}
        </ons-list-item>
      </ons-list>
    </ons-col>
    <ons-col class="right-col">
      <div *ngIf="selectedSingleLocation !== null">
        <ons-card>
          <div>{{selectedSingleLocation.name}}</div>
          <div>{{selectedSingleLocation.vicinity}}</div>
        </ons-card>
      </div>
    </ons-col>
  </ons-row>
</ons-page>